@model LokFrontend.Pages.Home.HomeModel
@{
}
<section class="home">
    <div class="home_content">
        <h1 class="home_title">Practice for Loksewa Exams Smarter</h1>
        <p class="home_subtitle">
            Free online mock tests, past questions, and performance tracking.
        </p>
        <a asp-page="/QuizPage/Practicepage" class="btn btn--primary">
            Start Practicing
        </a>
    </div>
</section>

<section class="exam-category">
    <h2 class="exam-category__title">Choose Your Exam Category</h2>
        <div class="exam-category__cards">
        @foreach(var item in Model.categories)
        {
            <div class="exam-card">
                <h3 class="exam-card__title">@item.Title</h3>
                <p class="exam-card__desc">@item.Description</p>
                <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
            </div>
        }
    </div>
</section>
