@model LokFrontend.Pages.Home.HomeModel
@{
}
<section class="home">
    <div class="home_content">
        <h1 class="home_title">Practice for Loksewa Exams Smarter</h1>
        <p class="home_subtitle">
            Free online mock tests, past questions, and performance tracking.
        </p>
        <a asp-page="/QuizPage/Practicepage" class="btn btn--primary">
            Start Practicing
        </a>
    </div>
</section>

<section class="exam-category">
    <h2 class="exam-category__title">Choose Your Exam Category</h2>

    <div class="exam-category__cards">
        <div class="exam-card">
            <h3 class="exam-card__title">Officer Level</h3>
            <p class="exam-card__desc">General Knowledge, IQ, Subjective</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>

        <div class="exam-card">
            <h3 class="exam-card__title">Nayab Subba</h3>
            <p class="exam-card__desc">Practice with previous year papers</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>

        <div class="exam-card">
            <h3 class="exam-card__title">Non-Gazetted</h3>
            <p class="exam-card__desc">MCQs and timed mock tests</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>

        <div class="exam-card">
            <h3 class="exam-card__title">Gazetted</h3>
            <p class="exam-card__desc">Advanced practice & full mocks</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>
        <div class="exam-card">
            <h3 class="exam-card__title">Nepal Police</h3>
            <p class="exam-card__desc">Nepal Police History</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>
        <div class="exam-card">
            <h3 class="exam-card__title">Nepal Army</h3>
            <p class="exam-card__desc">Nepal Army History</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>
        <div class="exam-card">
            <h3 class="exam-card__title">Armed Police Force</h3>
            <p class="exam-card__desc">Armed Police History</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>
        <div class="exam-card">
            <h3 class="exam-card__title">Nation Investigation Department</h3>
            <p class="exam-card__desc">National Investiagtion History</p>
            <a asp-page="/Categories/MainCategory" class="exam-card__link">Start Now →</a>
        </div>
    </div>
</section>
