@page "/notices"
@model LokFrontend.Pages.Notice.NoticeModel
@{
}
<section class="notice-section">
  <h2 class="notice-title">📢 Latest Notices</h2>

  <div class="notice-container">
  @foreach(var item in Model.Notices)
  {
    <div class="notice-card">
      <div class="notice-header">
        <h3>@item.Title</h3>
        <span class="notice-date">Published:@item.PublishDate</span>
      </div>
      <p class="notice-summary">
        @item.Description
      </p>
      <a href="/notice-detail/@item.Id" class="see-more-btn">See More</a>
    </div>
  }
  </div>
</section>

