<nav class="navbar">
    <div class="nav-title">
        <a href="/" class="text-2xl font-bold text-blue-600">LoksewaPrep</a>
    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="nav-item-container">
        <a asp-page="/Index" class="nav-item">Home</a>
        <a asp-page="/Practice" class="nav-item">Practice</a>
        <a asp-page="/Dashboard" class="nav-item">Dashboard</a>
        <a asp-page="/Login" class="nav-item">Login</a>
    </div>
</nav>