<nav class="navbar">
    <div class="nav-title">
        <a href="/" class="text-2xl font-bold text-blue-600">LoksewaPrep</a>
    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="nav-item-container">
        <a asp-page="/Index" class="nav-item">Home</a>
        <div class="dropdown">
        <button class="nav-item dropdown-btn">Practice ▾</button>
        <div class="dropdown-content">
            <a asp-page="/Practice/GeneralKnowledge">General Knowledge</a>
            <a asp-page="/Practice/Math">Mathematics</a>
            <a asp-page="/Practice/English">English</a>
            <a asp-page="/Practice/Computer">Computer</a>
        </div>
        </div>
        <div class="dropdown">
        <button class="nav-item dropdown-btn">Course ▾</button>
        <div class="dropdown-content">
            <a asp-page="/Practice/GeneralKnowledge">General Knowledge</a>
            <a asp-page="/Practice/Math">Mathematics</a>
            <a asp-page="/Practice/English">English</a>
            <a asp-page="/Practice/Computer">Computer</a>
        </div>
        </div>
        <a asp-page="/Login" class="nav-item">Login</a>
    </div>
</nav>