@page
@model LokFrontend.Pages.Categories.SubCatPageModel

<div class="category-layout">

    <!-- MAIN CONTENT -->
    <section class="sub-category-section">
        <h2 class="section-title">Choose Your Categories</h2>

        <div class="sub-category__grid">
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="अवस्थिती, हावापानी,हिमश्रृख्ला, नदीनाला, ताल तलैया र वनजंगल">
                नेपालको भूगोल
            </a>

            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="महादेश, महासागर, नदीनाला,पर्वतश्रृंखला">
               विश्वको भुगोल
            </a>

            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="म्याग्नाकार्ट, विश्वयुद्ध, औद्योगिक क्रान्ती">
                विश्वको ऐतिहासिक घटनाहरू
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
                नेपालको प्राचिनकाल तथा मध्यकालको राजनिती
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
                आधुनिक नेपालको इतिहाँस
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
                नेपालको ऐतिहासिक युद्ध तथा सम्झौताहरू
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
                धर्म संस्कृति, जातजाती भाषा, साहित्य र कला
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
                नेपालको योजनाबद्ध विकासक्रम
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
                दिगो विकास,वातावरणीय परिस्थिति, पर्यावरणिय संरक्षण, जलवायु परिवर्तन
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
                प्रविधिको इतिहास, प्रविधिको प्रयोग
            </a>
            <a href="#"
               class="sub-category__card"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Descriptive & theory based questions">
               संयुक्त राष्ट्रसंघ तथा यसको मिसनमा नेपाल प्रहरीको सहभागिता
            </a>
        </div>
    </section>

    <!-- SIDEBAR -->
    <aside class="info-aside">
        <h4 class="aside-title">Exam Tips</h4>
        <p>
            This is an ongoing porject developed for helping
            PSC Students to Practice All Categories Questions
            for their upcoming Opportunities.
        
        <figcaption>text</figcaption>        
   <figure></figure> 
        </p>

        <div class="ad-box">
            <small>Sponsored</small>
            <div class="ad-placeholder">
                Ad Space
            </div>
        </div>
    </aside>

</div>

