:root {
  --accent: white;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.navbar{
  background-color: var(--accent);
}
.nav-title {
  color: #258cfb;
  text-align: center;
  padding: 10px 25px;
  font-size: 30px;
  font-weight: 500;
}
.nav-title a{
  text-decoration: none;
}
.nav-item-container{
  padding: 10px 10px;
  text-align: center;
}
.nav-item-container a {
  text-decoration: none;
}
.nav-item{
  padding: 10px 10px;
  text-align: center;
  color: #000000;
}

.nav-item:hover{
  color: #258cfb;
}
