:root {
  --accent: white;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.navbar{
  background-color: var(--accent);
}
.nav-title {
  color: #258cfb;
  text-align: center;
  padding: 10px 25px;
  font-size: 30px;
  font-weight: 500;
}
.nav-title a{
  text-decoration: none;
}
.nav-item-container{
  padding: 10px 10px;
  text-align: center;
}
.nav-item-container a {
  text-decoration: none;
}
.nav-item{
  padding: 10px 10px;
  text-align: center;
  color: #000000;
}

.nav-item:hover{
  color: #258cfb;
}

.home {
  background-color: #3b82f6;
  text-align: center;
  padding: 5rem 1rem;
  color: white;

}
.home_content {
  
}

.home_title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.home_subtitle {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #e0e7ff;
}

/* ===== BUTTON ===== */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.btn--primary {
  background-color: white;
  color: #2563eb;
}

.btn--primary:hover {
  background-color: #e0e7ff;
}

