:root {
  --accent: white;
}
html {
  font-size: 14px;
}

.navbar{
  background-color: var(--accent);
}
.nav-title {
  color: #258cfb;
  text-align: center;
  padding: 10px 25px;
  font-size: 30px;
  font-weight: 500;
}
.nav-title a{
  text-decoration: none;
}
.nav-item-container{
  padding: 10px 10px;
  text-align: center;
}
.nav-item-container a {
  text-decoration: none;
}
.nav-item{
  padding: 10px 10px;
  text-align: center;
  color: #000000;
}

.nav-item:hover{
  color: #258cfb;
}

.home {
  background-color: #3b82f6;
  text-align: center;
  padding: 5rem 1rem;
  color: white;

}

.home_title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.home_subtitle {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #e0e7ff;
}

/* ===== BUTTON ===== */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.btn--primary {
  background-color: white;
  color: #2563eb;
}

.btn--primary:hover {
  background-color: #e0e7ff;
}

.exam-category {
  text-align: center;
  padding: 4rem 1rem;
  background-color: #c6cbd047;
}

.exam-category__title {
  font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.exam-category__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}

.exam-card {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 350px;
}

.exam-card__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.exam-card__desc {
  color: #6b7280;
  font-size: 0.95rem;
}

.exam-card__link {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

.exam-card__link:hover {
  text-decoration: underline;
}
.footer {
  background-color: #000000;
  color: white;
  padding: 1rem;
}
.footer-title {
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  background-color: #000000;
}
.dropdown {
  position: relative;
  display: contents;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  border-radius: 6px;
  left: 0;
}

.dropdown-content a {
  color: #333;
}

.dropdown-btn {
  border: 0px;
  background-color: var(--accent);
}
/* Show dropdown on hover (for desktop) */
.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}
.sub-dropdown strong {
  font-size: 16px;
  color: #258cfb;
  margin-top: 10px;
  margin-bottom: 5px;
}
.sub-dropdown ul {
  list-style: none;
}
.sub-dropdown li {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dropdown-content a:hover {
  color: #258cfb;
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .hamburger {
    display: block;
    padding-right: 1rem;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-item-container {
    position: fixed;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--accent);
    width: 100%;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-item-container.active {
    left: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .dropdown-content {
    position: static;
    box-shadow: none;
    background: transparent;
  }

  .dropdown-content a {
    padding-left: 1.5rem;
  }
}
